---
layout: default
---

{% include post/title.html %}

<div class="content">
  <p>此文章有密码保护</p>
  <input id="password" type="password" /><button id="pwd_submit">提交</button>
</div>

<script>
  function b64ToBuf(str) {
    let encrypted = window.atob(str);
    let len = encrypted.length;
    let buf = new Uint8Array(len);
    for (let i = 0; i < len; i++) buf[i] = encrypted.charCodeAt(i);
    return buf.buffer;
  }

  function buf2str(buf) {
    return String.fromCharCode(...new Uint16Array(buf));
  }

  const stringToArrayBuffer = function (str) {
    const bytes = new Uint8Array(str.length);
    for (let iii = 0; iii < str.length; iii++) {
      bytes[iii] = str.charCodeAt(iii);
    }
    return bytes;
  };

  document.getElementById("pwd_submit").onclick = function () {
    crypto.subtle
      .digest(
        { name: "SHA-256" },
        stringToArrayBuffer(document.getElementById("password").value)
      )
      .then((buf) => {
        window.crypto.subtle
          .importKey(
            "raw",
            buf,
            {
              name: "AES-GCM",
            },
            false,
            ["encrypt", "decrypt"]
          )
          .then((key) => {
            window.crypto.subtle
              .decrypt(
                {
                  name: "AES-GCM",
                  iv: b64ToBuf("{{ page.data.iv }}"),
                },
                key,
                b64ToBuf("{{ page.data.encrypted }}")
              )
              .then((encrypted) => {
                window.localStorage.setItem(
                  "{{ page.id }}",
                  document.getElementById("password").value
                );
                document.querySelector(".content").innerHTML =
                  buf2str(encrypted);
              });
          })
          .catch(() => {
            alert("解密失败");
          });
      });
  };

  let pwd = window.localStorage.getItem("{{ page.id }}");
  if (pwd) {
    document.getElementById("password").value = pwd;
    document.getElementById("pwd_submit").click();
  }
</script>

{% include post/about.html %} {% include externals/disqus.html %}
